*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
    overflow: hidden;
}
.wrapper{
    width: 60%;
    margin: 7% 20%;
}
.image img{
    width: 5px;
    object-position:center ;
    object-fit: cover;
}
.image{
   height: 20rem;
   gap: 1rem;
    border-radius: 4px; 
    overflow: hidden;
    display: flex;
    position: relative;
}
.image > img{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .8s cubic-bezier(.25, .4, .45, 1.5509);
}
.image > img:hover{
    flex: 3;
}
.gallery{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    align-items: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: 0.5s;
    bottom: 0px;
    left: 0px;
}
.gallery_inner{
    width: 80%;
    height: 80%;
    margin: 0px 510px;
}
.gallery_inner img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.close{
    position: fixed;
    top: 15px;
    right: 25px;
    font-size: 80px;
    cursor: pointer;
}
.control{
    color: rgb(0,0,0,0.6);
    font-size: 100px;
    position: absolute;
}
.control.prev{
    left: 200px;
    cursor: pointer;

}
.control.right{
    right: 200px;
    cursor: pointer;

}
.show{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}
.hide{
    display: none;
}
